{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>
    <p>Admin Page</p>
    <p>你好，{{.admin.Name}}，你的年龄是{{.admin.Age}}岁。</p>
    {{if ge .admin.Age 18}}
        <p>你成年了</p>
    {{else}}
        <p>你还没成年</p>
    </body>
    {{end}}
<!-- 遍历 -->
    {{range $key, $value := .Tags}}
        <p>{{$key}}: {{$value}}</p>
    {{end}}
<!-- 遍历2 -->
    {{range $userinfo := .Items}}
        <!-- <p>用户{{$userinfo.Name}}的年龄是{{$userinfo.Age}}岁，ta的个人邮箱是：{{$userinfo.Email}}</p> -->
        {{with $userinfo}}
            <p>用户{{.Name}}的年龄是{{.Age}}岁，ta的个人邮箱是：{{.Email}}</p>
        {{end}}
    {{end}}
    {{with .admin}}
        <p>用户{{.Name}}的年龄是{{.Age}}岁，ta的个人邮箱是：{{.Email}}</p>
    {{end}}

</html>
{{end}}
