h1{
    background: #ff0ff0;
    color: #fff000;
    text-align: center;
}

h2{
    background: #ff0ff0;
    color: #fff000;
    text-align: center;
}
h3{
    background: #ff0ff0;
    color: #fff000;
    text-align: center;
}
h4{
    background: #ff0ff0;
    color: #fff000;
    text-align: center;
}
