{{define "user/index.html"}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/tmp/css/base.css">
</head>
<body>
    {{template "public/page_header.html" .}}
    <h3>用户中心</h3>
    <p>你好，{{.user.Name}}，你的年龄是{{.user.Age}}岁。</p>


    <p>{{len .title}}</p>
    <p>{{.date}}</p>
    <p>{{UnixToTime .date}}</p>
    {{TextLn .title .user.Name}}
    {{template "public/page_footer.html" .}}
</body>
</html>
{{end}}
